.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.gamEd {
  position: relative;
}
.p {
  position: absolute;
  bottom: 5px;
  padding-left: 84px;
  font-size: 12px;
}
