.stats {
  display: flex;
}
.circle {
  position: relative;
  background-color: rosybrown;
  border-radius: 100%;
  border: 5px solid var(--color-teched-orange);
  width: 120px;
  height: 120px;
  margin: auto;
}
.name {
  margin: auto;
}
.editBtn {
  padding: 15px;
  border-radius: 10px;
  background-color: var(--color-teched-red);
  align-self: flex-end;
  margin-right: 3%;
  margin-bottom: 20px;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
